* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    background-color: lightslategrey;
}

.allContainer {
    position: absolute;
    transform: translate(-50%, 12.5%);
    left: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    border-radius: 24px;
    max-width: 344px;
    width: 100%;
    padding-bottom: 24px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    flex-grow: 1;
}

span {
    display: block;
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

header {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

header div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: space-between;
}

.coinContainer {
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    height: 248px;
}

.coinContainer > div {
    max-height: 248px;
    height: 100%;
    max-width: 248px;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#buttonFlip, #buttonReset {
    height: 48px;
    width: 144px;
    border-radius: 24px;
    border: 0px;
    filter: drop-shadow(2px 3px rgba(0, 0, 0, 0.15));
    font-weight: 600;
}

#buttonFlip:hover, #buttonReset:hover {
    cursor: pointer;
}

#buttonFlip:active, #buttonReset:active {
    transform: translate(2px, 3px);
    filter: none;
}

#buttonFlip:disabled {
    background-color: silver;
    color: grey;
    text-shadow: none;
}

#buttonReset:disabled {
    box-shadow: inset 0px 0px 0px 2.5px silver;
    color: grey;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.566);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-content: center;
    margin-top: 48px;
}

#buttonFlip {
    background-color: palegoldenrod;
    color: white;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
}

#buttonReset {
    background-color: rgba(0, 0, 0, 0);
    color: palegoldenrod;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 0px 2.5px palegoldenrod;
    
}

.coinHeads {
    animation: flipHeadsCoin 3s forwards;
}

.coinTails {
    animation: flipTailsCoin 3s forwards;
}

.coinHeadsRepeat {
    animation: flipHeadsRepeat 3s forwards;
}

.coinTailsRepeat {
    animation: flipTailsRepeat 3s forwards;
}

.coinHeadsRepeatEven {
    animation: flipHeadsRepeatEven 3s forwards;
}

.coinTailsRepeatOdd {
    animation: flipTailsRepeatOdd 3s forwards;
}

@keyframes flipTailsCoin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(1980deg);
    }
}

@keyframes flipHeadsCoin {
    0% {
        transform: rotateY(180deg);
    }
    100% {

        transform: rotateY(2160deg);
    }
}

@keyframes flipTailsRepeat {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(2160deg);
    }
}

@keyframes flipHeadsRepeat {
    0% {
        transform: rotateY(180deg);
    }
    100% {

        transform: rotateY(2340deg);
    }
}
@keyframes flipTailsRepeatOdd {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(2160deg);
    }
}

@keyframes flipHeadsRepeatEven {
    0% {
        transform: rotateY(180deg);
    }
    100% {

        transform: rotateY(2340deg);
    }
}